<footer class="w-full py-12">
  <div class="max-w-5xl mx-auto">
    <div class="mt-0 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
        <span class="block sm:inline"
          >Built with love (and caffeine) © 2025 Vijay. All rights reserved (but I'm pretty chill about it).</span
        >
      </p>
    </div>
  </div>
</footer>
